USE [POSUTSimplex]
GO
/****** Object:  StoredProcedure [dbo].[AddGasto]    Script Date: 05/03/2024 08:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddGasto]
    @pFecha NVARCHAR(8),
    @pTipo NVARCHAR(100),
    @pMonto DECIMAL(18,2),
    @pDescripcion NVARCHAR(200),
    @pCajaID INT = null,
	@id int OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Gastos (fecha,tipoGasto,monto,descripcion,cajaId)
    VALUES (@pFecha, @pTipo, @pMonto, @pDescripcion, @pCajaID);
	SET @id =  SCOPE_IDENTITY()

END
